body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
  
  h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  #console {
    position: absolute;
    width: 240px;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.544);
  }
  .session {
    margin-bottom: 20px;
  }
  
  .row {
    height: 12px;
    width: 100%;
    border-radius: 24px;
  }
  
  .colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
  }
  
  .label {
    width: 15%;
    display: inline-block;
    text-align: center;
  }

  .marker {
    background-image: url('car.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 24px;  
    background: #28504590;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #285045;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #285045;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 6px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .options {
    border: 2px solid #111e249a;
    padding: 10px;
    border-radius: 24px;
  }
  
  select {
    font-size: 14px;
    border: none;
    width: 100%;
    background: rgba(255, 255, 255, 0);
  }
  